$component-height:  600px !default;


.container-fluid {
  height:600px;
  max-height: 600px;
  overflow: hidden;
  padding: 0;
  margin-top: 20px;
  border: 1px solid #ddd;

  @include media-breakpoint-down(sm) {
    border: none;
    height:860px;
    max-height:860px;
  }
}
.top-header {
  margin-top: 50px;
  color:#888;
}
.sub-header {
   font-weight: 200;
   color:#999;
}

.p-left {
  @include media-breakpoint-up(md) {
    padding-right: 0 !important;
  }
}
.p-right {
  @include media-breakpoint-up(md) {
    padding-left: 0 !important;
  }
}
