$component-height:  600px !default;


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  background: rgba(205, 205, 205, 0.37);
  width:6px;

}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.9);
  border: solid #cecece 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


.container-fluid {
  height:600px;
  max-height: 600px;
  overflow: hidden;
  padding: 0;
  margin-top: 20px;
  @include media-breakpoint-up(md) {
    border: 1px solid #ddd;
    height:100%;
    max-height:100%;
  }
}
.top-header {
  margin-top: 50px;
  color:#888;
}
.sub-header {
   font-weight: 200;
   color:#999;
}

.p-left {
  @include media-breakpoint-up(md) {
    padding-right: 0 !important;
  }
}
.p-right {
  @include media-breakpoint-up(md) {
    padding-left: 0 !important;
  }
}
