[class^="re-icon-"], [class*=" re-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.re-icon-email:before {
  content: "\1ffdd";
}
.re-icon-g-maps:before {
  content: "\ff32d";
}
.re-icon-star-outlined:before {
  content: "\cc32d";
}
.re-icon-star:before {
  content: "\e77e3";
}
.re-icon-instagram:before {
  content: "\ffdff";
}
.re-icon-twitter:before {
  content: "\dd4ee";
}
.re-icon-route:before {
  content: "\e77e";
}
.re-icon-location_strike:before {
  content: "\ed11";
}
.re-icon-location_clear:before {
  content: "\ed942";
}
.re-icon-location_full:before {
  content: "\e7d00";
}
.re-icon-website:before {
  content: "\e90eb";
}
