.list-retailers {
   position: relative;
   width: 100%;
   max-height:560px;
   overflow-x: hidden;
   overflow-y: scroll;

   @include media-breakpoint-down(sm) {
      height:200px;
      max-height:200px;
      overflow-y: scroll !important;
      min-height: 200px;
      position: relative;
      overflow-y: scroll!important;
      display: block;
      z-index: 9999;
      -webkit-overflow-scrolling: touch;
   }

   ::-webkit-scrollbar {
     background: rgba(205, 205, 205, 0.37);
     width:6px;

   }
   ::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.9);
     border: solid #cecece 6px;
   }
   ::-webkit-scrollbar-thumb:hover {
     background-color: rgba(0, 0, 0, 0.3);
   }


   .list {
      position: relative;
      margin: 0;
      padding:0;
      white-space: nowrap;

      li {
         list-style: none;
         color:#111;
         border:none;
         margin:0;
         width:100%;
         border-bottom:1px solid #cdcdcd;
         text-align:left;
         position: relative;
         overflow: hidden;

         a,
         &:focus,
         &:hover {
            cursor: pointer;
         }
      }

      .li-list--index {
         padding:0;
         display: flex;
         align-items: center;
         margin:0;
         height: 100px;
         overflow: hidden;

         @include media-breakpoint-down(sm) {
            font-size: 85%;
         }
      }

      .retailer-list--left {
         float: left;
         padding: 11px;
      }
      .retailer-list--right {
         float: right;
         line-height: 80px;
      }
      .li-list--1-retailer {
         list-style: none;
         padding:0;
         margin:0;
         height: auto;
         overflow: hidden;
         height: 350px;

         .storefront {
            max-width: 180px;
            overflow: hidden;
         }

         .sticker {
            position: absolute;
            bottom: 0;
         }

         img {
            width: 100%;
            height:auto;
         }
      }

      .li-list--2-retailers {
         list-style: none;
         padding:0;
         margin:0;
         height: 120px;

         .retailer-address {
            float:left;
         }



         .storefront {
            max-width: 240px;
            float: right;
            overflow: hidden;
         }
         img {
            width: 100%;
            height:auto;
         }
      }

      .li-list--3-retailers {
         list-style: none;
         padding:0;
         margin:0;
         height: 110px;

         .retailer-address {
            float:left;

         }

         .storefront {
            max-width: 220px;
            float: right;
            overflow: hidden;
         }

         img {
            width: 100%;
            height:auto;
         }
      }

   }


   .disabled {
      opacity: 0.3;
      cursor: not-allowed;
      pointer-events: none;
   }

   .active {
      background-color: #efefef;
   }

   .name {
      font-weight:bold;
   }

}

.disable-overflow {
   overflow: hidden !important;
}
