.map {
  border:1px solid #cdcdcd;
  height:$component-height;
  width:100%;
  @include media-breakpoint-down(sm) {
    margin-top: 160px;
    height: 440px;
  }
}

.info-window {
  min-width: 250px;
  max-width: 250px;

  img {
    width: 100%;
    height: auto;
  }
}



.giw {
  border: 1px solid #ddd;
  border-radius: none;
  box-shadow: none;
  //left: 0 !important;
  //right: 0 !important;
  //bottom: 0 !important;
  //top: 0 !important;
  //top: 15px !important;
  width: 240px !important;

  .sticker {
    max-width: 240px !important;
  }

  .address {
    max-width: 140px !important;
  }
}

.gm-style-iw + div + div {
  display: none;
}


#locating {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
