.retailers-search {
  border:1px solid #cdcdcd;
  height: 40px;
  //background-color:rgba(255,255,255,0.8);

  input {
    font-size:$font-size-sm;
    padding:7px;
    line-height:25px;
    width: 100%;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid #cdcdcd;
  }

  h2 {
    text-transform:uppercase;
  }

}
