.retailers-search {
  height: 20%;
  border:1px solid #cdcdcd;
  background-color:rgba(255,255,255,0.8);

  input {
    font-size:$font-size-sm;
    padding:7px;
    line-height:25px;
    width: 100%;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid #cdcdcd;
  }

  h2 {
    text-transform:uppercase;
  }

 /* scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
  */

}
