@import "framework/bootstrap";

@import "layout/theme";
@import "layout/skeleton";

@import "components/icons";
@import "components/dropdown";
@import "components/search";
@import "components/list";
@import "components/map";
@import "components/sticker";
@import "components/retailer";
@import "components/alerts";
@import "components/tooltips";


@import "vendors/wallop";

* {
  outline:none !important;
}

body {
  margin:0;
}

.map-popup {

  .mp-header {
    padding:10px;
    text-transform:uppercase;
  }
}

.mp-storefront {
  padding:0;
}


.gm-style {

}

.locations-overlay {
  position: absolute;
  top:0;
  left:0;
}

.map-overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100vh;
  width:100%;
  display:block;
}



@mixin flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  @include flag-icon-background();
  position: relative;
  display: inline-block;
  width: (3 / 2) * 1em;
  line-height: 1em;
  &:before {
    content: '\00a0';
  }
}


.map_canvas {
  margin-top:20px;
  width: 100%;
  height: 350px !important;
}


.retailer-item {
  height:120px;
  background-color:transparent;

  img {
    max-width:50px;
  }

  .name {
    font-size: 17px;
    text-transform:uppercase;
    letter-spacing:0.75px;
    color:#222;
    margin-bottom:15px;
  }
  .city,
  .state,
  .country {
    font-size: 13px;
    letter-spacing:0.75px;
    color:#999;
  }

  &:hover {
    background-color:#f9f9f9;
    transition:  0.2s linear;

  }

}


.route {
  position: absolute;
  top:10px;
  z-index: 8888;
  left:50px;
  font-size: 10.5px;
  padding: 7px 12px;
}
.stroked {
  padding:0;
  display: inline-block;
  border-bottom: 1px solid #ddd;
  margin-left: -1px;
  margin-bottom: -1px;
}

.filter-locations {
  padding:0;
  width:100%;
  border-bottom:1px solid #cdcdcd;
  height: 21px;

  .btn-group {
    width: 50%;
    height: 19px;
    vertical-align:top;

    .btn {
      position: relative;
      width:100%;
      height:20px;
      margin:0;
      padding:0;
      font-family: Roboto,Arial,sans-serif;
      font-size: 12.3px;
      font-weight: 400;
      border-radius: 0!important;

    }
    .b1 {
      border:none;
      border-right:1px solid #cdcdcd;
    }
    .b2 {
      margin-left:-4px;
      border-top:none;
      border-bottom:none;
      border-left:none;
      border-right:1px solid #cdcdcd;
    }

    .dropdown-menu {
      padding:0;
      width:100%;
      margin-top:0;
      background-color:rgba(255, 255, 255, 0.95);
    }
    .dropdown-item {
      position: relative;
      font-size:12px;
      padding:0 0 0 42px;
      line-height:25px;
      text-align: left;
      //text-transform:uppercase;
    }

    .flag-nation {
      position: absolute;
      top:0;
      left:-2px;
      bottom:0;
      height: 20px;
      width:30px;
    }
  }
}
