.card {
  .list-group {
    .list-group-item {
      border-left:none;
      border-right:none;

      .custom-checkbox {
        text-transform:uppercase;
        font-size: 90%;
        font-weight:600;
      }

      .info {
        font-size:($font-size-xs + 0.10);
        float:right;
        color:$gray-light;
      }
    }
  }
}

.card-text {
  font-size: $font-size-sm;
}


.input-group-btn {
  .btn-secondary {
    color:$brand-primary !important;
  }
}
.bg-canvas {
  margin:0;
}

.instructions {
  width: 100%;
  height:100%;
  position:absolute;
  bottom:0;
  width: 100%;
}
