.help{
  padding:0;

  legend {
    font-size:15px;
    padding:15px 20px;
    background:#ededed;
    border-bottom:1px solid #ccc;
    color:#111;
    font-weight:600;
    letter-spacing:0.85px;
    text-transform:uppercase;
  }

  form {
    padding:20px;

    label {
      font-size:11px;
      text-transform:uppercase;
      margin-bottom:5px;
    }

    input {
      font-size:12px;
      border-color:#ccc;
      &::placeholder {
        text-transform:uppercase;
      }
    }

    textarea {
      border-color:#ccc;
    }
  }
}

